.btn {
  display: inline-block;
  padding: 12px 35px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;

  &:hover {
    box-shadow: -5px 5px $purple;
  }

  @include mediaSmartfon {
    min-width: 190px;
    padding: 10px 20px;
  }

  &--primary {
    color: $black;
    background: $white;

    &.btn--inactive {
      background-color: #cccccc;
    }
  }

  &--secondary {
    color: $white;

    &.btn--inactive {
      background-color: none;
    }
  }

  &--inactive {
    color: #666666;
    cursor: not-allowed;
  }
}
