$background-base: #191919;
$background-top: #242424;

$white: #ECEBF3;
$grey: #adadad;
$black: #191919;
$purple: #7647B9;
$purple-opacity: rgba(118, 71, 185, 0.5);


@mixin mediaDesktop {
  @media screen and (min-width: 1151px) {
    @content;
  }
}

@mixin mediaSmartfon {
  @media screen and (min-width: 100px) and (max-width: 1150px) {
    @content;
  }
}

@mixin buttons {
  @media screen and (max-width: 1250px) {
    @content;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin shadow {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -5px;
  left: -5px;
  background: $purple;
  border: 0.5px solid lighten($black, 3);
  z-index: -1;
}

@mixin halfShadow {
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  bottom: 0px;
  left: -5px;
  background: $purple;
  z-index: -1;
}
