h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  color: $text-basic-color;
}

h1 {
  font-size: 90px;
  font-weight: 600;

  @include mediaSmartfon {
    font-size: 28px;
  }
}

h2 {
  font-size: 42px;
  font-weight: 600;

  @include mediaSmartfon {
    font-size: 24px;
  }
}

h3 {
  font-size: 32px;

  @include mediaSmartfon {
    font-size: 16px;
  }
}

h4 {
  font-size: 24px;

  @include mediaSmartfon {
    font-size: 14px;
  }
}

p {
  font-size: 18px;
  color: $text-description-color;
}
