@import "./_config";
@import "./_font";

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .2s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

* {
  box-sizing: border-box;
}

html {
  background-image:
    linear-gradient(307deg, transparent 0%, transparent 10%,rgba(190, 190, 190,0.04) 10%, rgba(190, 190, 190,0.04) 64%,transparent 64%, transparent 100%),
    linear-gradient(118deg, transparent 0%, transparent 11%,rgba(190, 190, 190,0.04) 11%, rgba(190, 190, 190,0.04) 31%,transparent 31%, transparent 100%),
    linear-gradient(73deg, transparent 0%, transparent 22%,rgba(190, 190, 190,0.04) 22%, rgba(190, 190, 190,0.04) 90%,transparent 90%, transparent 100%),
    linear-gradient(156deg, transparent 0%, transparent 51%,rgba(190, 190, 190,0.04) 51%, rgba(190, 190, 190,0.04) 97%,transparent 97%, transparent 100%),
    linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0))
}

body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  color: $white;

  a, button {
    all: unset,
  }
}

::-webkit-scrollbar {
  display: none;
}

#app {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.header--bg {
  background: $purple-opacity;
  width: 105%;
  text-align: center;
  margin: 30px 0 0 0;
}

.view {
  width: $width-desktop;
  max-width: $max-width;
  margin: 0 auto;

  @include mediaSmartfon {
    width: $width-mobile
  }

  &--page {
    min-height: calc(var(--vh, 1vh) * 88);

    @include mediaSmartfon {
      min-height: calc(var(--vh, 1vh) * 87);
    }
  }

  &--menu {
    min-height: calc(var(--vh, 1vh) * 5);
  }

  &--header {
    min-height: calc(var(--vh, 1vh) * 8);
    padding-left: 0;
    display: inline-block;
  }

  &--content {
    min-height: calc(var(--vh, 1vh) * 80);
    // max-width: $max-width;

    @include mediaSmartfon {
      min-height: calc(var(--vh, 1vh) * 79);
    }
  }

  &--footer {
    height: calc(var(--vh, 1vh) * 7);
  }
}

