@import "./_config";
@import "./_font";

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .2s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: calc(var(--vh, 1vh) * 100);
}

html {
  background-image:
    linear-gradient(307deg, transparent 0%, transparent 10%,rgba(190, 190, 190,0.04) 10%, rgba(190, 190, 190,0.04) 64%,transparent 64%, transparent 100%),
    linear-gradient(118deg, transparent 0%, transparent 11%,rgba(190, 190, 190,0.04) 11%, rgba(190, 190, 190,0.04) 31%,transparent 31%, transparent 100%),
    linear-gradient(73deg, transparent 0%, transparent 22%,rgba(190, 190, 190,0.04) 22%, rgba(190, 190, 190,0.04) 90%,transparent 90%, transparent 100%),
    linear-gradient(156deg, transparent 0%, transparent 51%,rgba(190, 190, 190,0.04) 51%, rgba(190, 190, 190,0.04) 97%,transparent 97%, transparent 100%),
    linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  color: $white;

  a, button {
    all: unset,
  }
}

::-webkit-scrollbar {
  display: none;
}

#app {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.header--bg {
  background: $purple-opacity;
  text-align: center;
  width: 105%;
}

.view {
  display: block;
  width: $width-desktop;
  max-width: $max-width;
  margin: 0 auto;

  @include mediaSmartfon {
    width: $width-mobile
  }

  &--menu {
    @include mediaSmartfon {
      width: 100%;
    }
  }

  &--page {
    min-height: calc((var(--vh, 1vh) * 100) - 115px);

    @include mediaSmartfon {
      min-height: calc((var(--vh, 1vh) * 100) - 90px);
    }
  }

  &--header {
    display: inline-block;
    padding-left: 0;
    margin-top: 30px;
  }

  &--content {
    min-height: calc((var(--vh, 1vh) * 100) - 189px);

    @include mediaSmartfon {
      min-height: calc((var(--vh, 1vh) * 100) - 149px);
    }
  }
}

